<div class="trainee-search-form">
  <%= search_form_for [:trainer ,@search], url: trainer_trainees_path, class: "form-inline" do |f| %>
    <div class="form-group ">
      <%= link_to t(".reset_link"), request.path, class: "cancel-search" %>
      <%= f.text_field :name_or_email_cont_any, class: "form-control", placeholder: t(".name_search") %>
    </div>
    <%= f.submit t(".search_button"), class: "btn btn-default" %>
  <% end %>
</div>
