<div class="grid_item wd44">
  <div class="courses_item">
    <%= image_tag "#{course.image}", size: "360x220", alt: t(".course_image"), class: "course_img" %>
    <div class="hover_text">
      <a href="#">
        <h4><%= link_to course.name, course %></h4>
      </a>
      <ul class="list">
        <li><a href="#"><i class="lnr lnr-users"></i> <%= count_trainee_in course %></a></li>
        <li>
          <a href="#">
            <i class="lnr lnr-user"></i>
            <%= render partial: "trainer", collection: course.users, as: :user %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
